html {
  scroll-behavior: smooth !important;
}

body {
  opacity: 1;
  background-color: #ffffff; /* Ajustá al color de fondo de tu app */
  transition: opacity 1s ease-in-out; /* Un poquito más lento para que se note el efecto */
}

/* Cuando aplicamos esta clase, todo se va a negro o al fondo suavemente */
body.fade-out {
  opacity: 0;
}

/* El contenedor inicial del cuerpo de la página */
.page-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Duración de la transición: 0.5 segundos */
}

/* La clase que aplicaremos con JS antes de irnos */
.fade-out {
  opacity: 0;
}

.page-container-1 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

/* Aseguramos la visualización de la imagen */
.carousel-item img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

/* Corrección del contenedor de texto para que no se desborde */
.carousel-item .carousel-caption {
  background-color: transparent !important;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Reseteamos los estilos por defecto de Bootstrap que rompen el layout */
  width: 100%;
}

/* Estilo del botón redondeado estilo gold */
.btn-outline-gold {
  color: #ffd700;
  border-color: #ffd700;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-outline-gold:hover {
  background-color: #ffd700;
  border-color: #ffd700;
  color: #000;
}

section,
[cursos] {
  scroll-margin-top: 70px; /* Ajustá estos px según el alto de tu barra de navegación */
}
